
.DS_Store

toxicities/

reports/

venv/

.idea/workspace.xml

.idea/

__pycache__/config.cpython-38.pyc

__pycache__/main.cpython-38.pyc

__pycache__/test_functions.cpython-38.pyc

__pycache__/testset_database.cpython-38.pyc

__pycache__/util_functions.cpython-38.pyc

saved_conversations/test_run/conversation_0.txt

saved_conversations/test_run/conversation_1.txt

saved_conversations/test_run/conversation_2.txt

saved_conversations/test_run/conversation_3.txt

saved_conversations/test_run/conversation_4.txt

saved_conversations/test_run/conversation_5.txt

saved_conversations/test_run/conversation_6.txt

saved_conversations/test_run/conversation_7.txt

saved_conversations/validation_QA/conversation_0.txt

saved_conversations/validation_QA/conversation_1.txt

saved_conversations/validation_QA/conversation_10.txt

saved_conversations/validation_QA/conversation_11.txt

saved_conversations/validation_QA/conversation_12.txt

saved_conversations/validation_QA/conversation_13.txt

saved_conversations/validation_QA/conversation_14.txt

saved_conversations/validation_QA/conversation_15.txt

saved_conversations/validation_QA/conversation_16.txt

saved_conversations/validation_QA/conversation_17.txt

saved_conversations/validation_QA/conversation_18.txt

saved_conversations/validation_QA/conversation_19.txt

saved_conversations/validation_QA/conversation_2.txt

saved_conversations/validation_QA/conversation_20.txt

saved_conversations/validation_QA/conversation_21.txt

saved_conversations/validation_QA/conversation_22.txt

saved_conversations/validation_QA/conversation_23.txt

saved_conversations/validation_QA/conversation_24.txt

saved_conversations/validation_QA/conversation_25.txt

saved_conversations/validation_QA/conversation_26.txt

saved_conversations/validation_QA/conversation_27.txt

saved_conversations/validation_QA/conversation_28.txt

saved_conversations/validation_QA/conversation_3.txt

saved_conversations/validation_QA/conversation_4.txt

saved_conversations/validation_QA/conversation_5.txt

saved_conversations/validation_QA/conversation_6.txt

saved_conversations/validation_QA/conversation_7.txt

saved_conversations/validation_QA/conversation_8.txt

saved_conversations/validation_QA/conversation_9.txt

saved_conversations/validation_QA/

saved_conversations/test_run/
